* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Estilo general del cuerpo */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Barra de navegación */
.barra_navegacion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.barra_navegacion .imagenPrincipal img {
  width: 200px;
  height: 100%;
  max-height: 200px;
  overflow: hidden;
}

.imagenPrincipal a:hover {
  background-color: transparent; /* Elimina el color verde de hover */
}

/* Lista de navegación */
.barra_navegacion ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Elementos de la lista */
.barra_navegacion li {
  text-align: center;
}

/* Enlaces */
.barra_navegacion a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  position: relative;
  overflow: hidden;

  /* transition: background-color 0.3s ease, border-radius 0.3s ease; */
}
.barra_navegacion a::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #d4ffd6 0%, transparent 50%);
  transition: top 0.6s ease;
}

.barra_navegacion a:hover::before {
  top: 0;
}

/* Efecto hover en los enlaces */
.barra_navegacion a:hover {
  background-color: #d4ffd6;
  border-radius: 5px;
}

/* Imágenes dentro de los enlaces */
.barra_navegacion img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/* Texto dentro de los enlaces */
.barra_navegacion p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.barra_navegacion a:hover p {
  color: black;
}

.imagenBanner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 768px) {
  .barra_navegacion li:nth-child(2) {
    display: none;
  }

  .barra_navegacion ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .barra_navegacion li {
    margin-bottom: 10px;
  }
  .barra_navegacion img {
    width: 35px;
    height: 35px;
  }
  .barra_navegacion p {
    font-size: 12px;
  }
  .imagenBanner img {
    height: 70%; /* Ajusta la altura en pantallas pequeñas */
  }
}

/* Responsivo para móviles (pantallas de 480px o menos) */
@media (max-width: 480px) {
  .barra_navegacion ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .barra_navegacion a {
    flex-direction: row;
    justify-content: flex-start;
  }
  .barra_navegacion img {
    width: 30px;
    height: 30px;
  }
  .barra_navegacion p {
    font-size: 14px;
  }

  .barra_navegacion .imagenPrincipal {
    height: auto;
    width: 150px;
  }
  .imagenBanner img {
    height: 60%; /* Ajusta la altura en pantallas muy pequeñas */
  }
}
